{% extends "base.html" %}

{% block content %}
<header class="centered">
    <!-- Add header content here. -->
    <button type="submit" form="game-board" class="menu" name="guess" value="New Game">New Game</button>
</header>
<section class="centered">
    <form id="game-board" action="/play" method="POST">

        <!-- Include Flag Mine checkbox. -->
        <section class="centered">
            <label><input type="checkbox" name="flagged" /> Possible Mine</label>
        </section>

        <!-- Add the table (with active cell buttons) here. -->
        <table>
            <tr>
                {% for column in session['columns'] %}
                    <th class="centered">{{column}}</th>
                {% endfor %}
            </tr>
            {% for row in session['rows'] %}
                <tr>
                    {% for cell in row %}
                        {% if cell|length == 1 %}
                            <td class="centered"><strong>{{cell}}</strong></td>
                        
                        {% else %}
                            <td class="empty">
                                <button type="submit" name="guess" value="{{cell}}">{{cell}}</button>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>

    </form>
</section>
{% endblock %}